html, body {
    padding: 0;
    margin: 0;
}

svg:not(:root) {
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

p, h1, h2, a {
    margin: 0px;
    padding: 0px;
}

.svg-line {
    width: 100%;
    height: 150px;
}

.content {
    .header {
        position: relative;
        background: #eee;
        min-height: 400px;

        .svg-line {
            position: absolute;
            left: 0;
        }

        .svg-line.top {
            top: 0px;
        }

        .svg-line.bottom {
            bottom: 0px;
        }

        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-family: 'CooperHewitt', sans-serif;
                font-weight: 900;
                font-size: 1.8rem;
                line-height: 1.1;
                color: #222;

                margin-bottom: 1.2rem;
            }

            p {
                float:right;

                background: rgba(238,238,238,0.7);
                box-shadow: 2px 2px 20px 5px rgba(238,238,238,0.7);
                
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.45;

                a {
                    color: #2793C7;
                    text-decoration: none;
                    font-weight: 700;

                }
            }

        }
    }

    .body {

    }

    .footer {
        position: relative;
        min-height: 500px;
        
        &.newsletter {
            background: linear-gradient(to bottom, #FBDA61, #F76B1C);    
        }
        
        &.copyright {
            background: linear-gradient(to bottom, rgb(250,203,111), #DBA0D2);
        }

        .svg-line {
            position: absolute;
            left: 0;
        }

        .svg-line.top {
            top: 0px;
        }
        .svg-line.bottom {
            bottom: 0px;
        }

    }
}